<% provide(:title, "Log in") %>

<h1> Log In </h1>

<%= form_for(:session, url: login_path) do |f| %>
  
  <%= f.label :email %>
  <%= f.email_field :email %>
  <br>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <br>
  <%= f.submit "Log In" %>
<% end %>

<% flash.each do |message_type, message| %>
  <h3><%= message %></h3>
<% end %>

<p>New User? <%= link_to "Sign Up Now!", new_user_path %></p>