<%provide(:title, @user.user_name) %>

<h1>Admin Panel</h1>

<h3>All Users</h3>

<div class="scrollable">
  <% @all_users.each do |user|  %>
    <ul>
      <li><p><%= user.user_name %></p></li>
      <li><%= link_to "Edit #{user.user_name}", edit_user_path(user) %></li>
      <li><%= button_to("Delete #{user.user_name}", user_path(user), method: :delete, data: {confirm: "Delete User? Please confirm:"} ) %></li>
    <br>
    </ul>
  <% end %>
</div>

<h3>All Recipes</h3>

<div class="scrollable">
  <% @all_recipes.each do |recipe| %>
    <ul>
      <li><p><%= recipe.recipe_name %></p></li>
      <li><%= link_to "Edit #{recipe.recipe_name}", edit_recipe_path(recipe) %></li>
      <li><%= button_to("Delete #{recipe.recipe_name}", recipe_path(recipe), method: :delete, data: {confirm: "Delete Recipe? Please confirm:"}) %></li>
      <br>
    </ul>
  <% end %>
</div>






