<h1>Sign Up!</h1>

<p>All fields must be completed</p>

<div class="sign_up_form"
  <%= form_for @user do |f| %>
    <%= f.label :user_name %>
    <%= f.text_field :user_name %>
    <br>
    <%= f.label :user_email %>
    <%= f.email_field :user_email %>
    <br>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <br>
    <%= f.label :password_confirmation, "Confirmation" %>
    <%= f.password_field :password_confirmation %>
    <br>
    <br>
    <%= f.submit 'Sign Up!' %>
  <% end %>
</div>